{% extends "layout.html" %}

{% block title %}
    Instructor Courses
{% endblock %}



{% block main %}
<div style = "font-size: 50px; text-align:middle;"> <b> Your Courses</b></div>
<table class="table table-striped">
        <thead class="thead-dark">
            <tr>
                <th>Course ID</th>
                <th>Course</th>
                <th>Subject</th>
                <th>Level</th>
                <th>Number of Students</th>
            </tr>
        </thead>
 <tbody>
                {% for row in courses %}
                <tr>
                    <td>{{row["id"]}}</td>
                    <td>{{row["name"]}}</td>
                    <td>{{row["subject"]}}</td>
                    <td>{{row["level"]}}</td>
                    <td>{{row["total"]}}</td>
                </tr>
                {% endfor %}
        </tbody>
    </table>

{% endblock %}
