{% extends "layout.html" %}

{% block title %}
    Education Level
{% endblock %}

{% block main %}
    <form action="/level" method="post">
         <div class="form-group" style = "font-size:22px">
            <label for="level">You are a</label>
            <select class="form-control" name="level">
              <option>Freshman</option>
              <option>Sophomore</option>
              <option>Junior</option>
              <option>Senior</option>
            </select>
  </div>
        <button class="btn btn-dark" type="submit">Submit</button>
    </form>
{% endblock %}
